.panel {
	height: calc(50% - 24px);
}

div#productsList {
    height: calc(100% - 60px);
    overflow: auto;
}

div#productsOrder {
    height: calc(100% - 60px);
    overflow: auto;
}

#productsOrder a.list-group-item {
    padding-left: 90px;
    padding-right: 64px;
    position: relative;
}

#productsOrder  .count {
    position: absolute;
    width: 80px;
    left: 6px;
    font-size: 18px;
}

#productsOrder .clear {
    position: absolute;
    width: 34px;
    right: 6px;
    top: 8px;
    padding: 6px 0px;
}

.create-order {
	position: absolute;
    top: 3px;
    right: 8px;
}

label {
    font-size: 14px;
    font-weight: 100;
}

.img-product {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: top;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 5px #00000045;
    border-radius: 8px;
    overflow: hidden;
}

.img-product img {
    width: 100%;
}

.description {
    padding-left: 16px;
    display: inline-block;
    width: calc(100% - 110px);
    vertical-align: top;
}

h5.list-group-item-heading {
    white-space: pre-wrap;
    word-break: break-all;
}

.list-group-item {
    padding-bottom: 4px;
    padding-top: 3px;
}

.list-group-item small.discount {
    color: #F44336;
    font-weight: 500;
}

.list-group-item h5 {
    margin: 0;
}

#productsOrder img {
    display: none;
}