<br/>
<div class="question">
	

	<h5 contenteditable var="title">¿Que es un año biciesto?</h5>
	<br>
	<form var="form">
		<div class="form-group">
			<div class="radio ">
				<label> <input type="radio" name="radio-name"> <span contenteditable  class="answer">un año muy largo</span></label><i on-click="onRemoveAnswer" class="material-icons pull-right"> close </i>
			</div>
		</div>

		
	</form>
		<button type="button" class="btn btn-light" on-click="onAddAnswer">Agregar respuesta</button>
</div>

