
.chat-title {
    border-bottom: 1px solid #ccc;
    background: #595959;
    color: #fcce00;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat-title span {
    font-size: 14px;
    cursor: pointer;
    padding: 10px;

}

.chat-error {
    position: absolute;
    background: #F44336;
    bottom: 45px;
    padding: 16px;
    color: #fff;
    display: none;
}


#listBubbles {
    overflow: auto;
    height: calc(100% - 80px);
    padding: 8px;
}

#message {
    width: 100%;
    height: 45px;
    border: 0;
    border-top: 1px solid #ddd;
    padding: 8px 48px

}

.chat-list-message {
    position: relative;
}

.btn-attach-file {
    top: 4px;
    z-index: 2;
    left: 0;
    position: absolute;
}

.btn-send-message {
    top: 4px;
    z-index: 2;
    right: 0;
    position: absolute;
}


.bubble-text {
    background: #595959;
    padding: 4px 12px;
    font-size: 13px;
    color: #fff;
    border-radius: 12px;
    width: fit-content;

}

.bubble-left {
    text-align: left;
}

.bubble-left .bubble-text {
    margin-right: 24px;
    border-top-left-radius: 0;
}

.bubble-hour {
    color: #888;
    font-size: 12px;
}

.bubble-right {
    text-align: right;
}

.bubble-right .bubble-text {
    background: #ebba162e;
    margin-left: 24px;
    text-align: right;
    color: #444;
    display: inline-block;
    border-top-right-radius: 0;
}

.bubble-right .bubble-hour {
    text-align: right;
}

.bubble-text a {
    color: #795548;
    text-shadow: 0 1px 2px #fff;
    font-weight: bold;
    padding: 12px;
}

.bubble-time {
    padding: 12px;
    text-align: center;
    font-weight: 800;
}

#file {
    display: none;
}

#btnCancelAttach {
    display: none;
}